doctype html
html
    head
        title Guessing game - guess page
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
    body
        form(action="guess", method="post")
            div
                label(for="guess") Your next guess:
                input(type="text", name="guess")/
                button(type="submit") Guess

                ul
                    each result in results
                        li(class = result.result == 'too high' ? 'highGuess' : 'lowGuess').
                            #{result.guess} was #{result.result}
