doctype html
html
    head
        title Guessing game - success page
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
    body
        div
            h1 Fantastic!
            a(href="start") Play Again!
