doctype html
html
    head
        title Guessing game - guess page
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")

    body
        .container
            .row
                .col-md-8.col-12-sm
                    form(action="guess", method="post")
                        .row
                            .col-md-12.form-group
                                label(for="guess") Your next guess:
                                input.form-control(type="number", name="guess")/
                        .row
                            .col-md-12.form-group
                                button.btn.btn-primary(type="submit") Guess
            .row
                each result in results
                    .col-md-4
                        .guess(class = result.result == 'too high' ? 'highGuess' : 'lowGuess').
                            #{result.guess} was #{result.result}
