doctype html
html
    head
        title Guessing game - start page
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
        link(href="stylesheets/style.css", rel="stylesheet", type="text/css")
    body
        .container
            .row
                .col-md-8.col-12-sm
                    form(action="guess", method="post")
                        .row
                            .col-md-12.form-group
                                label(for="guess") Your next guess:
                                input.form-control(type="number", name="guess")/
                        .row
                            .col-md-12.form-group
                                button.btn.btn-primary(type="submit") Guess
                
                .col-md-4.hidden-sm.hidden-xs.instructions: p.
                    Welcome to our guessing game.  The server is thinking of a number between
                    1 and 10 - try to guess what it is!

        

