<!doctype html>

<html>
	
	<head>
		<title>Guessing game</title>
	</head>
	<body>
		<form method="post" action="/guess">
			<label for="guess" > Guess:  </label>
			<input type="text" name="guess"/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>